@using System.Security.Claims
@{
	ViewData["title"] = "Compare Listed";
	var stt = 1;
}
<div style="min-height: 500px">
	@* <h3>List Compare (<span style="color: orangered"> @Model.Count() </span>)</h3> *@
	<h3>List Compare</h3>

	<a class="btn btn-primary" asp-action="Index" asp-controller="Home">Thêm so sánh</a>

	<table class="table" id="myTable">
		<thead>
			<tr>
				<th style="text-align:center">No</th>
				@* <th style="text-align:center">Product Id</th> *@
				<th style="text-align:center">Product Name</th>
				<th style="text-align:center">Product Description</th>
				<th style="text-align:center">Product Price</th>
				<th style="text-align:center">Product Image</th>
				<th style="text-align:center" width="20%">Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var compare_product in Model)
			{
				<tr>
					<th style="text-align:center">@stt</th>
					@* <td style="text-align:center">@compare_product.Product.Id</td> *@
					<td>@compare_product.Product.Name</td>
					<td class="description-column" title="@Html.Encode(compare_product.Product.Description)">
						@if (compare_product.Product.Description.Length > 30)
						{
							<p style="text-align:center">
								@* @(item.Description.Substring(0, 30) + "...") *@
								@Html.Raw((@compare_product.Product.Description.Substring(0, 30) + "..."))
							</p>
						}
						else
						{
							<p style="text-align:center">
								@* @item.Description *@
								@Html.Raw(@compare_product.Product.Description)
							</p>
						}
					</td>
					<td style="text-align:right">@String.Format("{0:N2}", @compare_product.Product.Price.ToString("#,##0 VNĐ"))</td>
					<td style="text-align:center"><img src="~/media/products/@compare_product.Product.Image" width="120px" /></td>
					<td style="text-align:center">
						<a asp-action="DeleteCompare" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Home" asp-route-id="@compare_product.Compares.Id">Delete</a>
					</td>
				</tr>
				stt++;
			}
		</tbody>
	</table>
</div>