@model IEnumerable<ProductModel>
<div class="col-sm-3">
	@Html.Partial("_SidebarPartial")
</div>
<style>
	.product-image-wrapper {
		height: 450px;
	}
</style>
<div class="col-sm-9 padding-right">
	<div class="features_items">
		<!--features_items-->
		<h2 class="title text-center">Features Items</h2>
		@foreach (var item in Model)
		{
			<div class="col-sm-4">
				<div class="product-image-wrapper">
					<div class="single-products">
						<div class="productinfo text-center">
							<a asp-action="Detail" asp-controller="Product" asp-route-id="@item.Id">
								<img src="~/media/products/@item.Image" alt="@item.Name" width="100%" height="150px" />
								<h2>@String.Format("{0:N2}", @item.Price.ToString("#,##0 VNĐ"))</h2>
								<p>@item.Name</p>
								<p>Danh mục : @item.Category.Name</p>
								<p>Thương hiệu : @item.Brand.Name</p>
							</a>
							@* <a class="btn btn-default add-to-cart" asp-action="Add" asp-controller="Cart" asp-route-id="@item.Id"><i class="fa fa-shopping-cart"></i>Add to cart</a> *@
							
							@if (item.Quantity > 0)
							{
								<button class="btn btn-default add-to-cart" data-product_id="@item.Id"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
							}
							else
							{
								<button class="btn btn-default"><i class="fa fa-shopping-cart"></i>Hết hàng</button>
							}
						</div>
					</div>

					<div class="choose">
						@if (User.Identity?.IsAuthenticated ?? false)
						{
							<ul class="nav nav-pills nav-justified" style="text-align:center;">
								<li>
									<button class="btn btn-wishlist" data-product_id="@item.Id">Yêu thích</button>
								</li>
								<li>
									<button class="btn btn-compare" data-product_id="@item.Id">So sánh</button>
								</li>
							</ul>
						}
					</div>
				</div>
			</div>
		}
	</div><!--features_items-->

</div>