@model ProductQuantityModel

@{
	ViewData["title"] = "Create Quantity";
	var total_quantities = 0;
	var key = 1;
}

<h4>Create Quantity</h4>
<div class="col-md-9">

	<form asp-action="StoreProductQuantity" asp-controller="Product" enctype="multipart/form-data">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<input type="hidden" name="ProductId" value="@ViewBag.Id" />
		<div class="form-group">
			<label>Quantity</label>
			<input min="1" value="1" max="2000" asp-for="Quantity" class="form-control" />
			<span asp-validation-for="Quantity" class="text-danger" />
		</div>
		
		<div class="form-group">
			<button class="btn btn-primary">Create</button>
		</div>


	</form>

	<h3>Existing Product Quantities:</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Key</th>
				<th>Quantity added</th>
				<th>Date</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var productQuantity in ViewBag.ProductByQuantity)
			{
				total_quantities += productQuantity.Quantity;
				<tr>
					<td>@key</td>
					<td>@productQuantity.Quantity</td>
					<td>@productQuantity.DateCreated</td>
				</tr>
				key++;
			}
			<tr>
				<td>Total Quantities: @total_quantities</td>
			</tr>
		</tbody>
	</table>

	<a asp-controller="Product" asp-action="Index">Back to List Products</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}