@model IEnumerable<ProductModel>
@{
	ViewData["title"] = "Product Listed";
	var stt = 1;
}
<h3>List Products (<span style="color: orangered"> @Model.Count() </span>)</h3>

<a class="btn btn-primary" asp-action="Create" asp-controller="Product">Add Product</a>

<table class="table" id="myTable">
	<thead>
		<tr>
			<th style="text-align:center">No</th>
			<th style="text-align:center">Product Id</th>
			<th style="text-align:center">Product Name</th>
			<th style="text-align:center">Product Description</th>
			<th style="text-align:center">Product Image</th>
			<th style="text-align:center">Product Slug</th>
			<th style="text-align:center">Product Price</th>
			<th style="text-align:center">Product Category</th>
			<th style="text-align:center">Product Brand</th>
			<th style="text-align:center" width="20%">Product Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th style="text-align:center">@stt</th>
				<td style="text-align:center">@item.Id</td>
				<td>@item.Name</td>
				<td class="description-column" title="@Html.Encode(item.Description)">
					@if (item.Description.Length > 30)
					{
						<p style="text-align:center">
							@* @(item.Description.Substring(0, 30) + "...") *@
							@Html.Raw((@item.Description.Substring(0, 30) + "..."))
						</p>
					}
					else
					{
						<p style="text-align:center">
							@* @item.Description *@
							@Html.Raw(@item.Description)
						</p>
					}
				</td>
				<td style="text-align:center"><img src="~/media/products/@item.Image" width="120px" /></td>
				<td>@item.Slug</td>
				<td style ="text-align:right">@String.Format("{0:N2}", item.Price.ToString("#,##0 VNĐ"))</td>
				<td>@item.Category.Name</td>
				<td>@item.Brand.Name</td>
				<td style="text-align:center">
					<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
			stt++;
		}
	</tbody>
</table>
