@using EShop.Models.ViewModels
@model CartItemViewModel
@{
	ViewData["title"] = "Cart";
}

<h8>Giỏ hàng</h8>


<style type="text/css">
	.css_select_div {
		text-align: center;
	}

	.css_select {
		display: inline-table;
		width: 25%;
		padding: 5px;
		margin: 5px 2%;
		border: solid 1px #686868;
		border-radius: 5px;
	}
</style>

<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
				<li><a href="#">Home</a></li>
				<li class="active">Shopping Cart</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed">
				<thead>
					<tr class="cart_menu">
						<td style="text-align:center" class="image" width="12%">Item</td>
						<td style="text-align:center" class="description" width="30%">Name</td>
						<td style="text-align:center" class="price">Price</td>
						<td style="text-align:center" class="quantity">Quantity</td>
						<td style="text-align:center" class="total">Total</td>
						<td style="text-align:center" class="actions text-center">Action</td>
					</tr>
				</thead>
				<tbody>
					@if (Model.CartItems.Count > 0)
					{
						@foreach (var item in Model.CartItems)
						{
							<tr>
								<td style ="text-align:left" class="cart_product">
									<a><img src="~/media/products/@item.Image" alt="" style="width: 70px; height: auto;margin-right:50px;"></a>
								</td>
								<td class="cart_description">
									<h4><a>@item.ProductName</a></h4>
								</td>
								<td style="text-align:right" class="cart_price">
									<p>@String.Format("{0:N2}", @item.Price.ToString("#,##0 VNĐ"))</p>
								</td>
								<td style="text-align:center" class="cart_quantity">
									<a class="btn btn-default btn-sm" asp-controller="Cart" asp-action="Increase" asp-route-id="@item.ProductId"> + </a>
									<input class="cart_quantity_input" type="text" name="quantity" value="@item.Quantity" autocomplete="off" size="2">
									<a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Decrease" asp-route-id="@item.ProductId"> - </a>
									@* <a class="btn btn-danger btn-sm" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"> Remove </a> *@
								</td>
								<td style="text-align:right" class="cart_total">
									<p class="cart_total_price">@String.Format("{0:N2}", @Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("#,##0 VNĐ"))</p>
								</td>
								<td style="text-align:center" class="cart_delete text-center">
									<a class="cart_quantity_delete" asp-controller="Cart" asp-action="Remove" asp-route-id="@item.ProductId"><i class="fa fa-times"></i></a>
								</td>
							</tr>
						}

						<tr>
							<div class="form-group">
								<label>Chọn</label>
								<select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
									<option value="0">Tỉnh Thành</option>
								</select>
							</div>
							<div class="form-group">
								<label>Chọn</label>
								<select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
									<option value="0">Quận Huyện</option>
								</select>
							</div>
							<div class="form-group">
								<label>Chọn</label>
								<select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
									<option value="0">Phường Xã</option>
								</select>
							</div>
						</tr>

						<tr>
							<td style="text-align:center" colspan="4" class="text-center fw-bold">
								<h4 style="font-style: italic; color: #6c757d; font-size: 2rem;">Grand Total :</h4>
							</td>

							<td style ="text-align:right" class="align-middle">
								<p class="cart_total_price">@String.Format("{0:N2}", @Model.GrandTotal.ToString("#,##0 VNĐ"))</p>
							</td>

							<td style="text-align:center" class="align-middle text-center">
								<a class="btn btn-warning btn-sm" asp-controller="Cart" asp-action="Clear">Clear</a>

								@if (User.Identity?.IsAuthenticated ?? false)
								{
									<a class="btn btn-warning btn-sm" asp-controller="Checkout" asp-action="Checkout">Checkout</a>
								}
							</td>
						</tr>
					}
					else
					{
						<tr>
							<td colspan="6" class="text-center"><h4>Your Cart is Empty.</h4></td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</section> <!--/#cart_items-->
@section Scripts {
	<script>
		$(document).ready(function () {
			//Lấy tỉnh thành
			$.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
				if (data_tinh.error == 0) {
					$.each(data_tinh.data, function (key_tinh, val_tinh) {
						$("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
					});
					$("#tinh").change(function (e) {
						var idtinh = $(this).val();
						//Lấy quận huyện
						$.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
							if (data_quan.error == 0) {
								$("#quan").html('<option value="0">Quận Huyện</option>');
								$("#phuong").html('<option value="0">Phường Xã</option>');
								$.each(data_quan.data, function (key_quan, val_quan) {
									$("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
								});
								//Lấy phường xã
								$("#quan").change(function (e) {
									var idquan = $(this).val();
									$.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
										if (data_phuong.error == 0) {
											$("#phuong").html('<option value="0">Phường Xã</option>');
											$.each(data_phuong.data, function (key_phuong, val_phuong) {
												$("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
											});
										}
									});
								});

							}
						});
					});

				}
			});
		});
	</script>

}
