@model IEnumerable<UserWithRoleModel>
@{
	ViewData["title"] = "User Listed";
	var stt = 1;

}
<h3>List User (<span style="color: orangered"> @Model.Count() </span>)</h3>
<a class="btn btn-primary" asp-action="Create" asp-controller="User">Add User</a>
<div class="col-md-12">
	<table class="table" id="myTable">
		<thead>
			<tr>
				<th style="text-align:center">No</th>
				<th style="text-align:center" width="30%">Id</th>
				<th style="text-align:center">User Name</th>
				<th style="text-align:center">Email</th>
				<th style="text-align:center">PasswordHash</th>
				<th style="text-align:center">Phone</th>
				<th style="text-align:center">Role</th>
				<th style="text-align:center" width="25%">Brand Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var usersWithRoles in Model){
				<tr>
					<th style="text-align:center">@stt</th>
					<td>@usersWithRoles.User.Id</td>
					<td>@usersWithRoles.User.UserName</td>
					<td>@usersWithRoles.User.Email</td>
					<td class="password-column" title="@usersWithRoles.User.PasswordHash">
						@usersWithRoles.User.PasswordHash.Substring(0, 20)...
					</td>
					<td>@usersWithRoles.User.PhoneNumber</td>
					<td style="text-align:center">@usersWithRoles.RoleName</td>
					<td style="text-align:center">
						<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="User" asp-route-id="@usersWithRoles.User.Id">Edit</a>
						<a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="User" asp-route-id="@usersWithRoles.User.Id">Delete</a>
					</td>
				</tr>
				stt++;
			}
		</tbody>
	</table>
</div>
