@model ContactModel

<div class="row">
	<div class="col-sm-3" style="text-align:center;">
		<div class="companyinfo">
			<h2><span>DNP</span>-shop</h2>
			<p><td style="text-align:center"><img src="~/media/logo/@Model.LogoImg" width="150px" height="120px" /></td></p>
			<p>@Html.Raw(@Model.Description)</p>
		</div>
	</div>

	<div class="col-sm-5 col-md-5">
		<p>@Html.Raw(@Model.Map)</p>
	</div>

	<div class="col-sm-4">
		<div class="address">
			<h2>About</h2>
			<h5>Name: @Model.Name</h5>
			<h5>Email: @Model.Email</h5>
			<h5>Hotline: @Model.Phone</h5>
		</div>
	</div>
</div>