@model ProductDetailsViewModel
@{
	ViewData["title"] = "Detail";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
	.product-image-wrapper {
		height: 410px;
	}

</style>

<div class="row">
	<div class="col-sm-3">
		@Html.Partial("_SidebarPartial")
	</div>

	<div class="col-sm-9 padding-right">
		<div class="product-details">
			<!--product-details-->
			<div class="col-sm-5">
				<div class="view-product">
					<img src="~/media/products/@Model.ProductDetails.Image" alt="" />
					<h3>ZOOM</h3>
				</div>
				<div id="similar-product" class="carousel slide" data-ride="carousel">

					<!-- Wrapper for slides -->
					<div class="carousel-inner">
						<div class="item active">
							<a href=""><img src="images/product-details/similar1.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar2.jpg" alt=""></a>
							<a href=""><img src="images/product-details/similar3.jpg" alt=""></a>
						</div>


					</div>

					<!-- Controls -->
					<a class="left item-control" href="#similar-product" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="right item-control" href="#similar-product" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>

			</div>
			<div class="col-sm-7">
				<div class="product-information">
					<!--/product-information-->
					@* <img src="~/images/@Model.Image" class="newarrival" alt="@Model.Name" /> *@
					<h2>@Model.ProductDetails.Name</h2>
					<span>
						<span>@String.Format("{0:N2}", @Model.ProductDetails.Price.ToString("#,##0 VNĐ"))</span>
						<label>Quantity: 1</label>
						<input type="text" value="3" />
						<button type="button" class="btn btn-fefault cart">
							<i class="fa fa-shopping-cart"></i>
							Add to cart
						</button>
					</span>
					<p><b>Availability:</b> In Stock</p>
					<p><b>Condition:</b> New</p>
					<p><b>Brand:</b> @Model.ProductDetails.Brand.Name</p>
					<a href=""><img src="images/product-details/share.png" class="share img-responsive" alt="" /></a>
				</div><!--/product-information-->
			</div>
		</div><!--/product-details-->

		<div class="category-tab shop-details-tab">
			<!--category-tab-->
			<div class="col-sm-12">
				<ul class="nav nav-tabs">
					<li><a href="#details" data-toggle="tab">Details</a></li>
					<li class="active"><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div class="tab-pane fade" id="details">

					<div class="col-sm-3">
						@Html.Raw(Model.ProductDetails.Description)
					</div>

				</div>

				<div class="tab-pane fade active in" id="reviews">
					<div class="col-sm-12">
						<ul>
							<li><a href=""><i class="fa fa-user"></i>EUGEN</a></li>
							<li><a href=""><i class="fa fa-clock-o"></i>12:41 PM</a></li>
							<li><a href=""><i class="fa fa-calendar-o"></i>31 DEC 2014</a></li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<p><b>Write Your Review</b></p>

						<form autocomplete="off" asp-action="CommentProduct" asp-controller="Product" method="post">
							<span>
								<input type="hidden" name="ProductId" asp-for="@Model.ProductDetails.Id" />
								<input type="hidden" name="Star" value="4" />

								<input asp-for="@Model.Name" type="text" placeholder="Your Name" />
								<span asp-validation-for="@Model.Name" class="text-danger"></span>

								<input asp-for="@Model.Email" name="Email" type="email" placeholder="Email Address" />
								<span asp-validation-for="@Model.Email" class="text-danger"></span>

							</span>
							<textarea asp-for="@Model.Comment"></textarea>
							<span asp-validation-for="@Model.Comment" class="text-danger"></span>

							<b>Rating: </b> <img src="images/product-details/rating.png" alt="" />
							<button type="submit" class="btn btn-default pull-right">
								Submit
							</button>
						</form>
					</div>
				</div>

			</div>
		</div><!--/category-tab-->

		<div class="recommended_items">
			<!--recommended_items-->
			<h2 class="title text-center">Related Products</h2>





			@* <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="item active">

						@foreach (var relatedProducts in ViewBag.RelatedProducts as IEnumerable<ProductModel>)
						{
							<div class="col-sm-4">
								<div class="product-image-wrapper">
									<div class="single-products">
										<div class="productinfo text-center">
											<a asp-action="Detail" asp-controller="Product" asp-route-id="@relatedProducts.Id">
												<img src="~/media/products/@relatedProducts.Image" alt="@relatedProducts.Name" width="100%" height="150px" />
												<h2>@String.Format("{0:N2}", @relatedProducts.Price.ToString("#,##0 VNĐ"))</h2>
												<p>@relatedProducts.Name</p>
												<p>Danh mục : @relatedProducts.Category.Name</p>
												<p>Thương hiệu : @relatedProducts.Brand.Name</p>
											</a>
											<button class="btn btn-default add-to-cart" data-product_id="@relatedProducts.Id"><i class="fa fa-shopping-cart"></i>Thêm giỏ hàng</button>
										</div>
									</div>

									<div class="choose">
										@if (User.Identity?.IsAuthenticated ?? false)
										{
											<ul class="nav nav-pills nav-justified" style="text-align:center;">
												<li>
													<button class="btn btn-wishlist" data-product_id="@relatedProducts.Id">Yêu thích</button>
												</li>
												<li>
													<button class="btn btn-compare" data-product_id="@relatedProducts.Id">So sánh</button>
												</li>
											</ul>
										}
									</div>

								</div>
							</div>
						}
					</div>
				</div>
				<a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
					<i class="fa fa-angle-left"></i>
				</a>
				<a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
					<i class="fa fa-angle-right"></i>
				</a>
			</div> *@
		
		
		</div><!--/recommended_items-->

	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}