@model IEnumerable<BrandModel>
@{
	ViewData["title"] = "Brand Listed";
	var stt = 1;
}
<h3>List Brand (<span style="color: orangered"> @Model.Count() </span>)</h3>

<a class="btn btn-primary" asp-action="Create" asp-controller="Brand">Add Brand</a>

<table class="table" id="myTable">
	<thead>
		<tr>
			<th style="text-align:center">No</th>
			<th style="text-align:center">Brand Id</th>
			<th style="text-align:center">Brand Name</th>
			<th style="text-align:center">Brand Description</th>
			<th style="text-align:center">Brand Slug</th>
			<th style="text-align:center">Brand Status</th>
			<th style="text-align:center">Brand Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th style="text-align:center">@stt</th>
				<td style="text-align:center">@item.Id</td>
				<td>@item.Name</td>
				<td class="description-column" title="@item.Description">
					@if (item.Description.Length > 30)
					{
						@(@item.Description.Substring(0, 30) + "...")
					}
					else
					{
						@item.Description
					}
				</td>
				<td>@item.Slug</td>
				<td style="text-align:center">
					@if(@item.Status == 1)
					{
						<span class="text text-success">Hiển thị</span>
					}
					else
					{
						<span class="text text-danger">Ẩn</span>
					}
				</td>
				<td style="text-align:center">
					<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Brand" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Brand" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
			stt++;
		}
	</tbody>
</table>
