@model Tuple<IEnumerable<CategoryModel>, int>
@{
	ViewData["title"] = "Category Listed";
	var stt = 1;

	Paginate pager = new Paginate();
	int pageNo = 0;
	if (ViewBag.Pager != null)
	{
		pager = ViewBag.Pager;
		pageNo = pager.CurrentPage;
	}
}
<h3>List Category (<span style="color: orangered"> @Model.Item2 </span>)</h3>

<a class="btn btn-primary" asp-action="Create" asp-controller="Category">Add Category</a>

<table class="table">
	<thead>
		<tr>
			<th scope="col">No</th>
			<th scope="col">Category Id</th>
			<th scope="col">Category Name</th>
			<th scope="col">Category Description</th>
			<th scope="col">Category Slug</th>
			<th scope="col">Category Status</th>
			<th scope="col">Category Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.Item1)
		{
			<tr>
				<th scope="row">@stt</th>
				<td>@item.Id</td>
				<td>@item.Name</td>
				<td class="description-column" title="@item.Description">
					@if (item.Description.Length > 30)
					{
						@(@item.Description.Substring(0, 30) + "...")
					}
					else
					{
						@item.Description
					}
				</td>
				<td>@item.Slug</td>
				<td>
					@if (@item.Status == 1)
					{
						<span class="text text-success">Hiển thị</span>
					}
					else
					{
						<span class="text text-danger">Ẩn</span>
					}
				</td>
				<td>
					<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Category" asp-route-id="@item.Id">Edit</a>
					<a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Category" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
			stt++;
		}
	</tbody>
</table>

@*Phân trang ở đây*@
<partial name="_paging" model="@pager" />