@model IEnumerable<ContactModel>
@{
	ViewData["title"] = "Contact Info";
	var stt = 1;
}
<h3>Infomation</h3>

<table class="table">
	<thead>
		<tr>
			@* <th style="text-align:center">No</th> *@
		@* 	<th style="text-align:center">Id</th> *@
			<th style="text-align:center">Name</th>
			<th style="text-align:center">ShopName</th>
			<th style="text-align:center">Description</th>
			<th style="text-align:center">Map</th>
			<th style="text-align:center">Email</th>
			<th style="text-align:center">Logo</th>
			<th style="text-align:center">Logo mini</th>
			<th style="text-align:center">Phone</th>
			<th style="text-align:center">Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				@* <th style="text-align:center">@stt</th> *@
				@* <td style="text-align:center">@item.Id</td> *@
				<td>@item.Name</td>
				<td>@item.ShopName</td>
				<td class="description-column" title="@Html.Encode(item.Description)">
					@if (item.Description.Length > 30)
					{
						<p style="text-align:center">
							@* @(item.Description.Substring(0, 30) + "...") *@
							@Html.Raw((@item.Description.Substring(0, 30) + "..."))
						</p>
					}
					else
					{
						<p style="text-align:center">
							@* @item.Description *@
							@Html.Raw(@item.Description)
						</p>
					}
				</td>
				@* <td class="description-column" title="@Html.Encode(item.Map)">
					@if (item.Map.Length > 30)
					{
						<p style="text-align:center">
							@Html.Raw((@item.Map.Substring(0, 30) + "..."))
						</p>
					}
					else
					{
						<p style="text-align:center">
							@Html.Raw(@item.Map)
						</p>
					}
				</td> *@
				<td>@Html.Raw(@item.Map)</td>
				<td>@item.Email</td>
				<td style="text-align:center"><img src="~/media/logo/@item.LogoImg" width="120px" /></td>
				<td style="text-align:center"><img src="~/media/logo/@item.LogominiImg" width="100%" height="100%"/></td>
				<td>@item.Phone</td>
				<td style="text-align:center">
					<a asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Contact" asp-route-id="@item.Id">Edit</a>
				</td>
			</tr>
			stt++;
		}
	</tbody>
</table>
