@model IEnumerable<OrderModel>
@{
	ViewData["title"] = "Order Listed";

	var stt = 1;
}
<h3>List Order (<span style="color: orangered"> @Model.Count() </span>)</h3>
<table class="table" id="myTable">
	<thead>
		<tr>
			<th style="text-align:center">No</th>
			<th style="text-align:center">Order Id</th>
			<th style="text-align:center" width="20%">Order Code</th>
			<th style="text-align:center">UserName</th>
			<th style="text-align:center">Order Date</th>
			<th style="text-align:center">Order Stauts</th>
			<th style="text-align:center" width="25%">Order Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th style="text-align:center">@stt</th>
				<th style="text-align:center">@item.Id</th>
				<th>@item.OrderCode</th>
				<td>@item.UserName</td>
				<td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
				<td style="text-align:center">
					@if (@item.Status == 1)
					{
						<span class="text text-success">Đơn hàng mới</span>
					}
					else
					{
						<span class="text text-danger">Đã xử lý</span>
					}
				</td>
				<td style="text-align:center">
					<a asp-action="ViewOrder" class="btn btn-warning btn-sm" asp-controller="Order" asp-route-ordercode="@item.OrderCode">View Order</a>
					<a asp-action="Eccept" class="btn btn-success btn-sm" asp-controller="Order" asp-route-id="@item.Id">Eccept</a>
					<a asp-action="Cancel" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Order" asp-route-id="@item.Id">Cancel</a>
				</td>
			</tr>
			stt++;
		}
	</tbody>
</table>
